.alert .container {
  width: 100%;
  min-height: 60vh;
  padding: 4rem 0 6rem;
  text-align: center;
}

.alert .container .head {
  padding: 2rem 0;
  width: 100%;
  font-size: 1.8rem;
  text-align: left;
  font-family: 'Noto Sans JP', 'serif';
  color: #5a5758;
}

.alert .container .content {
  padding: 1.5rem 0;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.alert .container .content .block {
  padding: 1.5rem 0;
  border-bottom: 1px dotted #ccc
}

.alert .container .content .block:nth-child(odd) {
  background-color: #fcfcfc;
}

.alert .container .content .block .alert-area {
  width: 100%;
}

.alert .container .content .block .alert-area .date-cate {
  font-size: 1.2rem;
  text-align: left;
}

.alert .container .content .block .alert-area .date-cate .date {
  width: 100px;
  padding: .5rem 1rem;
  background-color: #4e83f2;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;

}

.alert .container .content .block .alert-area .date-cate .cate {
  display: block;
  padding: 1rem 0;
}

.alert .container .content .block .alert-area .date-cate .cate::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f02b';
  font-size: 1.2rem;
  font-weight: 900;
}

.alert .container .content .block .alert-area .title-area {
  padding: 1rem 0;
  font-size: 1.4rem;
  text-align: left;
  font-family: 'Noto Sans JP', 'serif';
  font-weight: 500;
}

.alert .container .content .block .alert-area .title-area a {
  color: #5a5758;
  width: fit-content;
}

.alert .container .content .block .alert-area .title-area a:hover {
  border-bottom: 1px solid #5a5758;
}

/* 1024px以上の場合 */
@media screen and (min-width: 768px) {

  .alert .container .head {
    padding: 2rem 0;
    font-size: 2rem;
  }

  .alert .container .content {
    padding: 2rem 0;
  }

  .alert .container .content .block .alert-area .date-cate .cate {
    padding: 0;
  }

  .alert .container .content .block .alert-area .title-area {
    padding: 1.5rem 0;
    font-size: 1.7rem;
  }

}