.home {
  /* padding-top: 90px; */
  width: 100%;
}

.home .top .img-area img {
  margin: auto;
  padding: 0.5rem;
  /* margin: 0 .5rem; */
  object-fit: cover;
  border-radius: 10px;
  max-height: 200px;
  min-height: 200px;
  max-width: 850px;
  opacity: 0.9;
}

.home .top .img-area img:hover {
  opacity: 0.8;
}

.home .top .img-area img:before {
  background: -webkit-linear-gradient(top,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 50%,
      white 100%);
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 50%,
      white 100%);
  content: '';
  height: 100%;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.45s cubic-bezier(0.215, 0.61, 0.355, 1), visibility 0s 0.45s;
  transition: opacity 0.45s cubic-bezier(0.215, 0.61, 0.355, 1), visibility 0s 0.45s;
  visibility: hidden;
  width: 100%;
}

.home .introduction {
  background-color: #fcfcfc;
}

.home .introduction .wrapper {
  width: 86.666%;
  margin: auto;
  padding: 2rem 0 4rem;
}

.home .introduction .wrapper .content {
  padding: 2rem 0;
}

.home .introduction .wrapper .content .title {
  position: relative;
  width: 100%;
  text-align: center;
  font-family: 'Noto Serif JP', 'serif';
  font-size: 2rem;
  color: #333;
  display: inline-block;
  margin: 47px auto;
  z-index: 1;
  font-weight: 600;
}

.home .introduction .wrapper .content .title:before {
  content: '';
  position: absolute;
  background: #7b80db;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.home .introduction .wrapper .content .text-area {
  padding: 0 1rem;
  text-align: left;
  border-left: 2px solid #7b80db;
  border-right: 2px solid #7b80db;
}

.home .introduction .wrapper .content .text-area .text {
  color: #333;
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: 'Noto Sans JP', 'serif';
}

.home .introduction .wrapper .content .text-area .text .strong {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #7b80db;
}

/*--スライダーの位置とサイズ調整--*/
.home .slider {
  width: 80%;
  margin: 0 auto;
}

/*-----------height調整----------*/
.home .slick-slide {
  height: auto !important;
}

/*-----------矢印表示----------*/
.home .slick-next {
  right: 25px !important;
  top: 80% !important;
  right: 30px !important;
}

.home .slick-prev {
  left: 0px !important;
  top: 80% !important;
  width: 50px;
}

.home .slick-prev:before {
  content: '◀︎';
}

.home .slick-next:before {
  content: '▶︎';
}

.home .slick-prev:before,
.home .slick-next:before {
  color: #4e83f2;
  font-size: 50px;
}

.home .slick-arrow {
  z-index: 2 !important;
}

.home .slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #4e83f2;
}

.home .slick-dots li button:before {
  color: #4e83f2;
}

/*  1024px以上の場合 */
@media screen and (min-width: 1024px) {
  .home {
    /* padding-top: 200px; */
    width: 100%;
  }

  .home .top .img-area img {
    min-height: 400px;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
  }

  .home .slick-next {
    right: 75px !important;
    top: 50% !important;
  }

  .home .slick-prev {
    left: 50px !important;
    top: 50% !important;
    width: 50px;
  }

  .home .introduction .wrapper .content .title {
    font-size: 2.5rem;
  }

  .home .introduction .wrapper .content .text-area {
    padding: 2.5rem 0rem;
    text-align: center;
  }

  .home .introduction .wrapper .content .text-area .text {
    font-size: 1.6rem;
    line-height: 1.8;
  }

  .home .introduction .wrapper .content .text-area .text .strong {
    font-size: 2rem;
    letter-spacing: 3px;
  }
}

/* notice */
.home .notice {
  padding: 1.5rem 0;
}

.home .notice .notice-inner {
  width: 100%;
}

.home .notice .notice-inner .notice-head {
  padding: 1rem 0;
}

.home .notice .notice-inner .notice-head .notice-caption {
  height: 50px;
  background-color: #4e83f2;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  font-size: 1.4rem;
  color: #fff;
  font-family: 'Noto Serif JP', 'serif';
}

.home .notice .notice-inner .notice-body {
  padding: 1rem 0;
}

.home .notice .notice-inner .notice-body .notice-item {
  display: block;
  position: relative;
  width: 100%;
  font-size: 1.4rem;
  padding: 0.5rem;
}

.home .notice .notice-inner .notice-body .notice-item:nth-child(2),
.home .notice .notice-inner .notice-body .notice-item:nth-child(3) {
  border: none;
  background: -webkit-linear-gradient(right,
      #4e83f2 0%,
      #4e83f266.66667%,
      transparent 66.66667%,
      transparent 100%);
  background: linear-gradient(to left,
      #4e83f2 0%,
      #4e83f2 66.66667%,
      transparent 66.66667%,
      transparent 100%);
  background-repeat: repeat-x;
  background-size: 6px 1px;
  background-position: 4px top;
}

.home .notice .notice-inner .notice-body .notice-item .notice-date {
  display: block;
  text-align: left;
  color: #93cd39;
  text-decoration: none !important;
}

.home .notice .notice-inner .notice-body .notice-item .notice-title {
  display: block;
  text-align: left;
  padding: 0.5rem 0;
}

.home .notice .notice-inner .notice-body .notice-item .notice-list-link {
  display: block;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem 0;
  background-color: #eee;
  width: 120px;
  border-radius: 10px;
  border: 1px solid #bbbbbb;
}

.home .notice .notice-inner .notice-body .notice-title.on,
.home .notice .notice-inner .notice-body .notice-list-link.on {
  text-decoration: underline;
}

.home .notice .notice-inner .notice-body .notice-list-link.on {
  transition: 0.3s;
  background-color: #bbbbbb;
}

/* 1024px以上の場合 */
@media screen and (min-width: 1024px) {
  .home .notice .notice-inner {
    display: table;
  }

  .home .notice .notice-inner .notice-head {
    display: table-cell;
    vertical-align: middle;
    width: 230px;
  }

  .home .notice .notice-inner .notice-head .notice-caption {
    height: 50px;
    width: 200px;
    padding-top: 11px;
    font-size: 1.7rem;
    margin: auto;
  }

  .home .notice .notice-inner .notice-body {
    display: table-cell;
    vertical-align: middle;
  }

  .home .notice .notice-inner .notice-body .notice-item {
    display: table;
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
  }

  .home .notice .notice-inner .notice-body .notice-item .notice-date {
    width: 150px;
    display: table-cell;
    vertical-align: middle;
  }

  .home .notice .notice-inner .notice-body .notice-item .notice-title {
    display: table-cell;
    vertical-align: middle;
  }

  .home .notice .notice-inner .notice-body .notice-item .notice-list-link {
    display: table-cell;
    vertical-align: middle;
    position: unset;
    font-size: 1.3rem;
    padding: 0.3rem 0;
    width: 135px;
  }

  .home .notice .notice-inner .notice-body .notice-list-link.on {
    transition: 0.3s;
    font-size: 1.4rem;
  }
}