/* price_detail ページ */
.price-detail .container {
    width: 100%;
    padding: 4rem 0 6rem;
    text-align: center;
    background-color: #ffffff;
    background-image: radial-gradient(#f6f9fa 2px, #ffffff 2px);
    background-size: 20px 20px;
}

.price-detail .container .wrapper {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 3.96px 0.04px rgb(2 6 52 / 10%);
    padding: 0 1rem;
}

.price-detail .container .head {
    padding: 2rem 0;
    width: 100%;
    text-align: left;
    color: #5a5758;
}

.price-detail .container .head .link-area {
    display: table;
    width: 100%;
    margin: 1.5rem auto;
    height: 45px;
    border-radius: 10px;
    text-align: center;
    background-color: #9b8a8a3b;
}

.price-detail .container .head .link-area .back-link {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.4rem;
}

.price-detail .container .head .link-area .back-link:hover {
    opacity: 0.5;
}

.price-detail .container .head .text-area .head-title {
    font-family: "Noto Sans JP", "serif";
    font-size: 1.8rem;
}

.price-detail .container .head .text-area .txt {
    padding: 1rem 0;
    font-family: "Noto Sans JP", "serif";
    font-size: 1.2rem;
}

.price-detail .container .content {
    padding: 1.5rem 0;
}

.price-detail .container .content .block {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 3.96px 0.04px rgb(2 6 52 / 10%);
}

.price-detail .container .content .block .block-head {
    width: 100%;
    position: relative;
    padding: 1rem 0;
    border-radius: 5px 5px 0 0;
    background-color: #93cd39;
    font-size: 1.1rem;
    color: #fff;
    font-family: "Noto Sans JP", "serif";
}

.price-detail .container .content .block .block-head::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border: 10px solid transparent;
    border-top: 10px solid #93cd39;
}

.price-detail .container .content .block .block-body {
    width: 100%;
    padding: 1rem 0;
}

.price-detail .container .content .block .block-body .price-link {
    display: table;
    width: 250px;
    height: 60px;
    border-radius: 10px;
    margin: auto;
    background-color: #5a5758;
}

.price-detail .container .content .block .block-body .price-link a {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #ffffff;
    font-size: 1rem;
    font-family: "Noto Sans JP", "serif";
}

.price-detail .container .content .block .block-body .price-link a:hover {
    opacity: 0.5;
}

.price-detail .container .content .block .block-body .price-link a::before {
    font-family: "Font Awesome 5 Free";
    color: #ffffff;
    content: "\f15c";
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 0.5rem;
    margin-top: 0;
}

.price-detail .container .content .table {
    width: 100%;
    border: 1px solid #ccc;
}

.price-detail .container .content .table th {
    background-color: #f6f9fa;
    text-align: center;
}

.price-detail .container .content .table th,
.price-detail .container .content .table td {
    height: 45px;
    max-width: 50%;
    padding: 0 2rem;
    border: 1px solid #ccc;
    font-size: 1.3rem;
    font-family: "Noto Sans JP", "serif";
}

.price-detail .container .content .table .align-left {
    text-align: left;
}

/* 768px以上の場合 */
@media screen and (min-width: 768px) {
    .price-detail .container .head {
        padding: 4rem 0;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        gap: 10px;
    }

    .price-detail .container .head .link-area {
        width: 250px;
    }
}

/* 1024px以上の場合 */
@media screen and (min-width: 1024px) {
    .price-detail .container .wrapper {
        padding: 0 4rem;
    }

    .price-detail .container .head .text-area .head-title {
        font-size: 2.8rem;
    }

    .price-detail .container .head .text-area .txt {
        padding-top: 1.5rem;
        font-size: 1.5rem;
    }

    .price-detail .container .content {
        padding: 2rem 0;
        display: flex;
        justify-content: start;
        align-items: flex-start;
    }

    .price-detail .container .content .table {
        width: 50%;
    }
}
