.login .wrapper{
  padding: 0;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.login .container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);

  background-color: #93cd39;
  color: #fff;
  padding: 1rem;
  margin: auto;
  width: 100%;
  max-width: 350px;
  height:  auto;
  /* min-height: 350px; */
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login .container .head{
  font-size: 1.5rem;
  text-align: center;
  font-family:'Noto Sans JP' , 'serif';
  padding: 1rem 0;
}
.login .container .head hr{
  border:1px solid #fff;
  ;
}
.login .container .content{
  width: 100%;
  padding: 0;
} 
.login .container .content .form-item{
  text-align: center;
  padding: .5rem 0;
}
.login .container .content .form-item:nth-last-child(1){
  text-align: right;
}
.login .container .content .form-item input[type='text'],
.login .container .content .form-item input[type='password']{
  width: 100%;
  height: 45px;
  margin: auto;
  border: #C4C4C4;
  border-radius: 10px;
}
.login .container .content .form-item input[type='submit']{
  width: 100px;
  height: 40px;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  background-color: #042569;;
  color: #fff;
  font-size: 1rem;
  font-family:'Noto Sans JP' , 'serif';
}
.login .container .content .form-item input[type='submit']:hover{
  opacity: .8;
}



/** レイアウト設定 **/

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.main {
  padding-top: 0;
}
footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}