*{
  font-family:'Noto Sans JP' , 'serif';
}
/* ---------------------------------------
店舗一覧画面 
--------------------------------------- */
.store .list-head{
  width: 100%;
  text-align: right;
  padding: .5rem 0;
}
.link-btn{
  margin-left : auto;
}
.store table.list{
  width: 100%;
  font-size: .8rem;
}
.store table.list th{
  border:1px solid #ccc;
  background-color:#042569 ;
  color: #fff;
  font-weight: 700;
  padding: .5rem;
}

/* ---------------------------------------
店舗登録画面 
--------------------------------------- */
.store-add .content .head{
  padding:1rem;
  font-size: 1rem;
  font-family:'Noto Sans JP' , 'serif';
}
.store-add .content .form-control{
  width: 80%;
  padding: 1rem 0;
  text-align: center;
  margin: auto;
}
.store-add .content .form-control .form-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.store-add .content .form-control .form-item>input{
  width: 220px;
    height: 35px;
    text-align: initial;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}